---
name: home
url: /
---

<div ng-controller="home" class="grid-block vertical">
    <h1 class="grid-block shrink">Welcome pattern generator!</h1>
    <h4 ng-if="patternList.length == 0" class="grid-block">To get started,<a ui-sref="step1">&nbsp;import an image</a></h4>
    <div class="grid-container">
        <div class="grid-block" ng-if="patternList.length != 0">
            <a ui-sref="workit({id:'{{i.id}}'})" ng-repeat="i in patternList | orderBy: lastupdate">
                <div class="card grid-content">
                    <div class="grid-block">
                        <canvas dual-card-preview></canvas>
                    </div>
                    <div class="card-divider">
                        {{getName(i)}}
                    </div>
                    <div class="card-section">
                        <div>Last worked: {{formatDate(i.lastupdate)}}</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
