---
name: pattern
url: /pattern
---

<div ng-controller="pattern" class="grid-block">
    <div class="grid-block medium-2 vertical">
        <button class="button" ng-click="patternify()">Patternify</a>
    </div>
    <div class="grid-container">
        <div class="grid-block">
            <div class="card grid-content" ng-repeat="i in imageList | filter:dimensionFilter">
                <canvas card-preview></canvas>
                <div class="card-divider">{{i.name}}</div>
                <div class="card-section">
                    <div>Created on: {{formatDate(i.createDate)}}</div>
                    <div>Height: {{i.y}}</div>
                    <div>Width: {{i.x}}</div>
                    <div>Used colors:</div>
                    <blockquote>
                        <div ng-repeat="j in i.map" ng-style="{'background-color':'{{j.hex}}','color':'{{getFontColor(j.hex)}}'}">
                            {{j.name}}
                        </div>
                    </blockquote>
                    <div class="grid-block vertical">
                        <button class="{{rightSidePattern == i.id? 'filled' : 'hollow'}} button tiny" ng-click="setRightSide(i)">Right Side</button>
                        <button class="{{wrongSidePattern == i.id? 'filled' : 'hollow'}} button alert tiny" ng-click="setWrongSide(i)">Wrong Side</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
