---
name: step1
url: /step1
---

<div class="grid-block" ng-controller="step1">
    <div class="grid-block medium-6 vertical">
        <label class="grid-block shrink">
            Image url:
            <input type="url" ng-model="url" ng-disabled="loading">
        </label>
        <button ng-click="loadImage()" class="button grid-block shrink {{loadedPath.length != 0? 'success' : (loadError? 'alert' : '')}}" ng-disabled="loading">Get image</button>
        <div class="grid-block shrink" ng-if="loadedPath.length != 0">
            <ul class="no-bullet">
                <li><sub>1px = 1 stitch</sub></li>
                <li class="grid-block">Height: {{imageHeight}}px</li>
                <li class="grid-block">Width: {{imageWidth}}px</li>
            </ul>
        </div>
        <div class="grid-block shrink" ng-if="loadedPath.length != 0">
            <a ui-sref="step2" href="#!/" class="button shrink">Use Image</a>
        </div>
    </div>
    <div class="grid-block medium-6 preview-container">
        <img ng-src="{{loadedPath}}" ng-if="loadedPath.length != 0" ng-style="{'height':'{{imageHeight}}px','width':'{{imageWidth}}px'}">
    </div>
</div>
