---
name: step2
url: /step2
---

<div ng-controller="step2" class="grid-block" ng-init="onLoad()">
    <div class="grid-block medium-6 vertical">
        <div ng-if="progressPercent == -1 && analyzeComplete == false" class="grid-block vertical">
            <div class="title-bar dark grid-block">
                Let's figure out this image...
            </div>
            <div class="grid-block">
                <div ng-if="storedWIP != false" class="grid-block vertical">
                    <div class="grid-block shrink">
                        I found a pattern that wasn't saved done with this step last time. Do you want to pick it up again?
                    </div>
                    <div class="grid-block">
                        <button class="button success" ng-click="loadWIP()">Resume old image</button>
                        <button class="button warning" ng-click="deleteWIP()">Delete old data</button>
                    </div>
                </div>
                <div class="grid-block" ng-if="hasIncoming">
                    <button class="button" ng-click="processIncoming()">Process new image data</button>
                </div>
            </div>
        </div>
        <div ng-if="progressPercent != -1 && analyzeComplete == false">
            <div class="title-bar dark">Working...</div>
            <div>Getting data from image... {{progressPercent}}%</div>
            <progress value="{{analyzePosition}}" max="{{imageHeight*imageWidth}}"></progress>
        </div>
        <div ng-if="analyzeComplete === true">
            <div class="title-bar dark">Color Correction</div>
            <blockquote>
                Do you want to cut down on / change any colors in the image?
                If you want to do anything complicated, use a real image manipulation program like <a href="http://www.gimp.org/" target="_blank">GIMP</a> (it's free) or Photoshop.
                This is only for simple color corrections
            </blockquote>
            <div class="grid-block">
                <div class="grid-block medium-6 vertical used-container">
                    <div class="grid-block vertical" ng-if="viewChangedList == false">
                        <div class="title-bar primary grid-block">
                            <span>Colors used in pattern</span>
                            <a href="#!/step2" class="float-right" ng-click="toggleChanged()">See mapped colors</a>
                        </div>
                        <ul class="no-bullet grid-block vertical">
                            <li ng-repeat="i in (colorList | filter:{keep:'Y'}) track by i._id" class="clearfix accepted-color grid-block shrink">
                                <span colorpicker="hex" ng-model="i.hex" ng-style="{'background-color':'{{i.hex}}','border-color':'{{getContrasting(i)}}'}" class="small button float-left" ng-change="colorChange(i)"></span>
                                <input type="text" ng-model="i.name" class="float-left">
                                <button class="tiny button" ng-click="reject(i)">X</button>
                            </li>
                        </ul>
                    </div>
                    <div class="grid-block vertical" ng-if="viewChangedList == true">
                        <div class="title-bar primary grid-block">
                            <span>Changed colors</span>
                            <a href="#!/step2" class="float-right" ng-click="toggleChanged()">See used colors</a>
                        </div>
                        <ul class="no-bullet grid-block vertical">
                            <li ng-repeat="i in (colorList | filter:{keep:'N'}) track by i._id " class="clearfix accepted-color grid-block shrink">
                                <button class="tiny button float-left remove-button" ng-click="i.mapTo = -1;i.keep = '?'">X</button>
                                <span ng-style="{'background-color':'{{i.hex}}'}" class="color-square float-left"></span>
                                <span class="float-left">to</span>
                                <span ng-style="{'background-color':'{{getMappedColor(i)}}'}" class="color-square float-left"></span>
                            </li>
                        </ul>
                    </div>
                    <div class="grid-block vertical">
                        <div class="title-bar primary grid-block">Actions</div>
                        <div class="grid-block shrink">
                            <button class="button success grid-block" ng-click="redraw()">Redraw Image</button>
                            <button class="button success grid-block" ng-click="saveData()">Save Data</buttomn>
                            <button class="button alert grid-block" ng-click="reset()">Reset</button>
                        </div>
                    </div>
                </div>
                <div class="grid-block medium-6 vertical tbd-container" ng-if="colorList.length != 0">
                    <div class="title-bar grid-block">
                        <span>To be decided ({{toBeDecidedList.length}} left)</span>
                        <a href="#!/step2" class="float-right" ng-click="colorList = colorList.reverse()">Reverse List</a>
                    </div>
                    <ul class="no-bullet grid-block vertical">
                        <li ng-repeat="i in (toBeDecidedList = (colorList | filter:{keep:'?'})) | limitTo: 20 track by i._id " class="grid-block shrink">
                            <span ng-style="{'background-color':'{{i.hex}}','color':'{{getContrasting(i)}}'}" class="color-square grid-block shrink">{{i.brightness}}</span>
                            <button class="tiny button grid-block shrink" ng-click="i.keep = 'Y'">Keep</button>
                            <span ng-repeat="j in (colorList | filter:{keep:'Y'}) track by j._id">
                                <button class="tiny button secondary" ng-click="i.mapTo = j._id;i.keep = 'N'">{{j.name}}</button>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-block medium-6 preview-container">
        <div class="grid-block medium-2 vertical text-right zoom-container {{imageHeight == -1? 'noimage':''}}" ng-if="analyzeComplete">
            <a href="#!/step2" ng-click="zoom(1.1)"><img src="/assets/foundation-icons/svgs/fi-zoom-in.svg"></a>
            <a href="#!/step2" ng-click="zoom(0.9)"><img src="/assets/foundation-icons/svgs/fi-zoom-out.svg"></a>
        </div>
        <div class="grid-block medium-10 {{imageHeight == -1? 'noimage':''}}">
            <canvas height="{{canvasHeight}}" width="{{canvasWidth}}" id="canvas" class="thumbnail"></canvas>
        </div>
    </div>
</div>
