---
name: workit
url: /workit/:id
---

<div class="grid-block" ng-controller="workit">
    <div ng-if="loadError != false" class="grid-block vertical">
        <div class="title-bar dark">Error!</div>
        <h1>{{loadError}}</h1>
    </div>
    <div ng-if="loadError == false" class="grid-block">
        <div class="grid-block medium-8 vertical">
            <div class="grid-block vertical shrink">
                <div class="title-bar">Current block</div>
            </div>
            <div class="grid-block current-block shrink">
                <div class="grid-block">
                    <div class="grid-block vertical shrink" ng-repeat="stitch in currentRowData" ng-style="{'background-color':'{{stitch.color.hex}}','color':'{{getFontColor(stitch)}}'}">
                        <div>{{stitch.color.name}}</div>
                        <div ng-style="{'border-top':'1px solid {{getFontColor(stitch)}}'}">{{stitch.side}}</div>
                    </div>
                </div>
            </div>
            <div class="grid-block">
                <div class="grid-block medium-6 row-summary vertical">
                    <div ng-repeat="info in currentRowSummary" class="grid-block row-summary shrink {{$even? 'even' : 'odd'}}">
                        <div ng-if="info.type == 'alternate'" class="grid-block">
                            <div class="grid-block medium-6">
                                <div class="grid-block medium-6">
                                    <div ng-style="{'background-color':'{{info.a.color.hex}}','color':'{{getFontColor(info.a)}}'}">{{info.a.color.name}}</div>
                                </div>
                                <div class="grid-block medium-6">
                                    <div ng-style="{'background-color':'{{info.b.color.hex}}','color':'{{getFontColor(info.b)}}'}">{{info.b.color.name}}</div>
                                </div>
                            </div>
                            <div class="grid-block medium-6">
                                x {{info.length}}
                            </div>
                        </div>
                        <div ng-if="info.type == 'run'" class="grid-block">
                            <div class="grid-block medium-6">
                                <div class="grid-block shrink" ng-style="{'background-color':'{{info.a.color.hex}}','color':'{{getFontColor(info.a)}}'}">{{info.a.color.name}}</div>
                            </div>
                            <div class="grid-block medium-6">
                                x {{info.length}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-block medium-6">
                    <div class="grid-block vertical settings-container">
                        <div class="grid-block title-bar">
                            Settings
                        </div>
                        <div class="grid-block shrink">
                            <label>
                                Column size
                                <input type="number" ng-model="$parent.columnSize" min="1" max="50">
                            </label>
                        </div>
                        <div class="grid-block shrink">
                            <label class="grid-block vertical">
                                <span class="grid-block">
                                    Current Column
                                </span>
                                <div class="grid-block">
                                    <span class="inline-label">
                                        <input type="number" ng-model="$parent.currentColumn" max="{{groupCount}}" min="1">
                                        <span class="form-label">/ {{$parent.groupCount}}</span>
                                    </span>
                                </div>
                            </label>
                            <label class="grid-block vertical">
                                <span class="grid-block">
                                    Current Row
                                </span>
                                <div class="grid-block">
                                    <span class="inline-label">
                                        <input type="number" ng-model="$parent.currentRow" max="{{height}}" min="1">
                                        <span class="form-label">/ {{height}}</span>
                                    </span>
                                </div>
                            </label>
                        </div>
                        <div class="grid-block">Progress: {{progress}}</div>
                        <button class="button grid-block shrink" ng-click="moveColumn(1)">Next Column</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-block medium-4 vertical">
            <div ng-if="frontSide != null" class="grid-block vertical">
                <div class="title-bar grid-block {{facingFront?'primary':'dark'}}">{{facingFront?'Front':'Back'}}</div>
                <div class="grid-block">
                    <canvas id="frontSideCanvas" ng-init="$parent.canvasInit('frontSide')" ng-style="{'height':'40vh','width':'40vh'}"></canvas>
                </div>
            </div>
            <div ng-if="backSide != null" class="grid-block vertical">
                <div class="title-bar grid-block {{facingFront?'dark':'primary'}}">{{facingFront?'Back':'Front'}}</div>
                <div class="grid-block">
                    <canvas id="backSideCanvas" ng-init="$parent.canvasInit('backSide')" ng-style="{'height':'40vh','width':'40vh'}"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
